

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/shop/" class="navbar-brand">OnlineShop</a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                  <li><a href="/shop/Mens">Men</a></li>
                  <li><a href="/shop/Womens">Women</a></li>
                </ul>
            </div>
        </div>
    
     
    </nav> 
    
