<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
        <% include templates/header.ejs%> 
        
        <ol>
            <% _.each(items, function(topC) { %>
            
          
            <li>
                <%if (topC.name === 'Womens') {%>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ol>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h1>
                            <p><%= subC.page_description %></p>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                            <% } %>
                            <div class="main_buttons"> 
                                    <button type="button" class="btn  btn-default btn-block" onclick="location.href='/shop/<%= topC.name%>/<%= subC.name %>'"><%=subC.name%></button>
                            </div>
                        </li>
                        <% }); %>                    
                    </ol>
                </div>    
                
                <% } %>
            </li>


            <% }); %>
        </ol>


        <% include templates/footer.ejs%>
    </body>
</html>