<!DOCTYPE html>
<html>
	<head>
    	<title><%= title %></title>
		
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  	</head>
  	
  	<body>

		<!--header  -->
		<% include templates/header.ejs%> 
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item"> Shop </span></li>
	  
		 
			</ol>
				
		</nav>
		<!-- content -->
    
        <ul>
			<% _.each(items, function(topC) { %>
			
            <li>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="/images/<%= topC.image %>">
                </div>
				<% } %>
				<div class="main_buttons"> 
                <button type="button" class="btn  btn-default btn-block" onclick="location.href='/shop/<%= topC.name %>'">View Products</button>
				</div>
			</li>
            <% }); %>
		</ul>
	  

		<% include templates/footer.ejs%> 
  	</body>
</html>