<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
   
<!-- The Header -->
<% include templates/header.ejs%> 
<nav>
    <ol class="breadcrumb">
            <li class="breadcrumb-item"> Shop </span></li>
        <% if(category){ %><span class="glyphicon glyphicon-arrow-right"></span> <li class="breadcrumb-item"><%=category%> </li>  <% } %>
                    
        <% if(category && subcategory){ %> <span class="glyphicon glyphicon-arrow-right"></span> <li class="breadcrumb-item"><%= subcategory%> </li>  <% } %>
        <% if(category && subcategory && productsroute){ %> <span class="glyphicon glyphicon-arrow-right"></span><li class="breadcrumb-item"><%= productsroute%> </li>  <% } %>
    </ol>
        
</nav>
        <!-- The Content -->
    <ol>
        
            
            <% _.each(items, function(products) { %>
                <% if (productsroute === products.primary_category_id) { %>
                    
                        <div class="col-sm-6 thumbnail">
                                <div class="row">
                                      
                                        <div class="col-sm-4">
                                            <% _.each(products.image_groups, function(images) { %>
                                           
                                                <% if(images.view_type === "medium" ) {%>
                                                    <% if( !images.variation_value ) {%>
                                                        <% _.each(images.images, function(theimage,key) { %>
                                                            <%if (key === 0){ %>
                                                            
                                                                <img class="img-rounded group list-group-image" src="/images/<%= theimage.link %>">
                                                                
                                                            <% } %>
                                                        
                                                        <% }); %> 
                                                    <% } %>
                                                <% } %>
                                            <% }); %>
                                        </div>
                                        
                                        <div class="col-sm-6">
                                            <div class="caption">
                                                <h4 class="group inner list-group-item-heading">
                                                    <%=products.page_title%></h4>
                                                <p class="group inner list-group-item-text">
                                                    <%=products.page_description%></p>
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-6">
                                                        <p class="lead">
                                                            $21.000</p>
                                                    </div>
                                                   
                                                </div>
                                                <div class="pull-right">
                                                        <button type="button" class="btn  btn-default btn-block" onclick="location.href = window.location.href + '/<%=products.id%>'">Details</button>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                        </div>
                        
                   
                <% } %>
            <% }); %>
            
      
    </ol>



    </body>
</html>