<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
   
<!-- The Header -->
<% include templates/header.ejs%> 
<nav>
        <ol class="breadcrumb">
                <li class="breadcrumb-item"> Shop </span></li>
            <% if(category){ %><span class="glyphicon glyphicon-arrow-right"></span> <li class="breadcrumb-item"><%=category%> </li>  <% } %>
                        
            <% if(category && subcategory){ %> <span class="glyphicon glyphicon-arrow-right"></span> <li class="breadcrumb-item"><%= subcategory%> </li>  <% } %>
            <% if(category && subcategory && productsroute){ %> <span class="glyphicon glyphicon-arrow-right"></span><li class="breadcrumb-item"><%= productsroute%> </li>  <% } %>
            <% if(category && subcategory && productsroute && productid){ %> <span class="glyphicon glyphicon-arrow-right"></span><li class="breadcrumb-item"><%= productid%> </li>  <% } %>
        </ol>
        
</nav>
        <!-- The Content -->
    <ol>
        <div class="row">
           
            <% _.each(items, function(product) { %>
                <% if (product.id === productid) { %>

                    <div class="container" >
                      
                             <div class="col-md-5">
                                    <% _.each(product.image_groups, function(images) { %>
                                        
                                             <% if(images.view_type === "large" ) {%>
                                                 <% if( !images.variation_value ) {%>
                                                     <% _.each(images.images, function(theimage,key) { %>
                                                         <%if (key === 0){ %>
                                                         
                                                             <img class="img-rounded group list-group-image" src="/images/<%= theimage.link %>">
                                                             
                                                         <% } %>
                                                     
                                                     <% }); %> 
                                                 <% } %>
                                             <% } %>
                                         <% }); %>
                             </div>
                             <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <h1><%=product.page_title%></h1>
                                        <span><%=product.page_description%></span>
                                       <h3> <p><span>Price:<b> <%=product.price%> $ </b></span></p></h3>
                                    </div>
                                </div><!-- end row-->
                             </div>
                        
                    </div><!-- end container -->                
                     
                    
                <% } %>
            <% }); %>
        </div>
    </ol>



    </body>
</html>