<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
   
<!-- The Header -->
        <% include templates/header.ejs%> 
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"> Shop </span></li>
        <% if(category){ %> <li class="breadcrumb-item "><span class="glyphicon glyphicon-arrow-right"></span> <%=category%> </li>  <% } %>			
        
            </ol>
                
        </nav>

<!-- The Content -->

        <ol>
            <% _.each(items, function(topC) { %> 
          

                
            <li>
            <% if (category === topC.name) { %>
                <h1><%= topC.name %></h1>
                <p><%= topC.page_description %></p>
                <% if (topC.image) { %>
                <div>
                    <img src="//images/<%= topC.image %>">
                </div>
                <% } %>
                <div>
                    <ol>
                        <% _.each(topC.categories, function(subC) { %>
                        <li>
                            <h2><%= subC.name %></h1>
                            <p><%= subC.page_description %></p>
                            <% if (subC.image) { %>
                            <div>
                                <img src="/images/<%= subC.image %>">
                            </div>
                            <% } %>

                            <div class="main_buttons"> 
                                <button type="button" class="btn  btn-default btn-block" onclick="location.href='/shop/<%= topC.id %>/<%= subC.id%>'">View Products</button>
                            </div>    
                        </li>
                        <% }); %>                    
                    </ol>
                </div>    
                
                <% } %>
            </li>


            <% }); %>
        </ol>
    </body>
</html>