<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    
    <body>
   
<!-- The Header -->
<% include templates/header.ejs%> 
<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> Shop </span></li>
<% if(category){ %> <li class="breadcrumb-item"><%=category%> </li>  <% } %>
            
<% if(category && subcategory){ %> <li class="breadcrumb-item"><%= subcategory%> </li>  <% } %>

    </ol>
        
</nav>
        <!-- The Content -->
    <ol>
        <% _.each(items, function(topC) { %>
            <% if (category === topC.id) { %>

                <% _.each(topC.categories, function(subC) { %>
                    <% if(subcategory === subC.id) { %>
                        <% _.each(subC.categories, function(prodC) { %>
                            <% if (prodC.name !="Outfits" && prodC.name !="Feeling Red") { %>
                                <h1><%= prodC.name %></h1>
                                <%= prodC.page_title%>

                                
                                    <div>
                                        <img src="/images/<%= prodC.image %>">
                                    </div>
                                

                                <div class="main_buttons"> 
                                    <button type="button" class="btn  btn-default btn-block" onclick="location.href='/shop/<%= topC.id %>/<%= subC.id%>/<%=prodC.id%>'">View Products</button>
                                </div>
                            <% } %>     
                        <% }); %> 
                    <% } %>
                <% }); %> 

            <% } %>
        <% }); %>
    </ol>



    </body>
</html>