body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F0F0F0;
}

a {
  color: #00B7FF;
}
ul{
  list-style-type: none;
}
ol{
  list-style-type: none;
}

.breadcrumb > li + li:before {
  content:none;
}
.main_buttons{
  margin-top: 20px;
  max-width: 150px;
}

.thumbnail{
  height : 210px;
}
.navbar{
  margin-bottom: 0px;
}